In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tennis.csv')

In [3]:
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

# problem 1:-
 if ooutlook= Sunny,temp=Hot,humidity=High,windy=weak
 check play or not

# solution:-
p(yes/sunny,Hot,High,weak) = p(sunny/yes)*p(hot/yes)*p(high/yes)*p(true/yes)*p(yes)
p(no/sunny,Hot,High,weak) = p(sunny/no)*p(hot/no)*p(high/no)*p(weak/no)*p(no)

and check which has higher probability

In [4]:
#first we find the probability of p(yes) and p(no)
df['play'].value_counts()

play
yes    9
no     5
Name: count, dtype: int64

In [16]:
py = 9/14  #p(yes)
pn = 5/14 #p(no)

print("Probability of yes",py)
print("Probability of no",pn)

Probability of yes 0.6428571428571429
Probability of no 0.35714285714285715

In [6]:
#now we find the probability of outlook column
pd.crosstab(df['outlook'],df['play'])

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [8]:
poverno=0/5
prannyno=2/5
psunnyno=3/5

poveryes=4/9
prannyyes=3/9
psunnyyes = 2/9

print("probabiliyt of overcast no",poverno)
print("probabiliyt of overcast yes",poveryes)
print("probabiliyt of ranny no",prannyno)
print("probabiliyt of ranny yes",prannyyes)
print("probabolity of sunny no",psunnyno)
print("probability of sunny yes",psunnyyes)

probabiliyt of overcast no 0.0
probabiliyt of overcast yes 0.4444444444444444
probabiliyt of ranny no 0.4
probabiliyt of ranny yes 0.3333333333333333
probabolity of sunny no 0.6
probability of sunny yes 0.2222222222222222

In [9]:
#now we find the probability of temp column
pd.crosstab(df['temp'],df['play'])

play  no  yes
temp
cool   1    3
hot    2    2
mild   2    4

In [10]:
pcoolno = 1/5
photno=2/5
pmildno=2/5

pcoolyes=3/9
photyes=2/9
pmildyes=4/9


print("probability of cool no",pcoolno)
print("probability of cool yes",pcoolyes)
print("probability of hot no",photno)
print("probability of hot yes",photyes)
print("probability of mild no",pmildno)
print("probability of mild yes",pmildyes)

probability of cool no 0.2
probability of cool yes 0.3333333333333333
probability of hot no 0.4
probability of hot yes 0.2222222222222222
probability of mild no 0.4
probability of mild yes 0.4444444444444444

In [11]:
#now we find the probability of humidity column
pd.crosstab(df['humidity'],df['play'])

play      no  yes
humidity
high       4    3
normal     1    6

In [12]:
phighno=4/5
phighyes = 3/9
pnormalno=1/5
pnormalyes=6/9

print ("probability high no",phighno)
print ("probability high yes",phighyes)
print("probability noraml no",pnormalno)
print("probability noraml yes",pnormalyes)

probability high no 0.8
probability high yes 0.3333333333333333
probability noraml no 0.2
probability noraml yes 0.6666666666666666

In [13]:
# windy now we check for the column windy
pd.crosstab(df['windy'],df['play'])

play   no  yes
windy
False   2    6
True    3    3

In [14]:
pfalseno=2/5
ptrueno=3/5
pfalseyes=6/9
ptrueyes=3/9

print("probability of true no ",ptrueno)
print("probability of true yes ",ptrueyes)
print("probability of false no",pfalseno)
print("probability of false yes",pfalseyes)

probability of true no  0.6
probability of true yes  0.3333333333333333
probability of false no 0.4
probability of false yes 0.6666666666666666

In [18]:
'''p(yes/sunny,Hot,High,weak) = p(sunny/yes)*p(hot/yes)*p(high/yes)*p(true/yes)*p(yes)

p(no/sunny,Hot,High,weak) = p(sunny/no)*p(hot/no)*p(high/no)*p(weak/no)*p(no)'''

Pyes = py*psunnyyes*photyes*phighyes*ptrueyes
Pno = py*psunnyno*photno*phighno*ptrueno

In [ ]:
print("probability of yes",Pyes)
print("probability of no",Pno)

probability of yes 0.003527336860670194
probability of no 0.07405714285714286

In [27]:
if Pyes>Pno:
    prit("play today")
else:
    print("No play today")

No play today