In [43]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

In [44]:
df = pd.read_csv('IMDB_Dataset.csv')

In [45]:
df.sample(5)

                                                  review sentiment
41736  This was my first, and probably the last Angel...  negative
4126   Joe is the movie about the dark side of the fo...  positive
15357  Postwar England, the dawn of the "atomic age"....  positive
20841  Every movie from the thirties is dated, but if...  negative
14170  I had pleasure to watch the short film "The Cu...  positive

In [46]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [47]:
df.shape

(50000, 2)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [49]:
df['sentiment'].unique()

array(['positive', 'negative'], dtype=object)

In [50]:
df['sentiment'].dtype

dtype('O')

In [51]:
# df['sentiment'].replace({'positive':1,'negative':0}).inplace=True

In [52]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [53]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False)
ohe.fit(df[['sentiment']])
encoded_df=ohe.transform(df[['sentiment']])

In [54]:
encoded_df

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [55]:
df['sentiment']=encoded_df

In [56]:
df

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...        0.0
1      A wonderful little production. <br /><br />The...        0.0
2      I thought this was a wonderful way to spend ti...        0.0
3      Basically there's a family where a little boy ...        1.0
4      Petter Mattei's "Love in the Time of Money" is...        0.0
...                                                  ...        ...
49995  I thought this movie did a down right good job...        0.0
49996  Bad plot, bad dialogue, bad acting, idiotic di...        1.0
49997  I am a Catholic taught in parochial elementary...        1.0
49998  I'm going to have to disagree with the previou...        1.0
49999  No one expects the Star Trek movies to be high...        1.0

[50000 rows x 2 columns]

In [57]:
df.describe()

          sentiment
count  50000.000000
mean       0.500000
std        0.500005
min        0.000000
25%        0.000000
50%        0.500000
75%        1.000000
max        1.000000

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  float64
dtypes: float64(1), object(1)
memory usage: 781.4+ KB

In [59]:
df['sentiment']=df['sentiment'].astype(int)

In [60]:
df

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          0
1      A wonderful little production. <br /><br />The...          0
2      I thought this was a wonderful way to spend ti...          0
3      Basically there's a family where a little boy ...          1
4      Petter Mattei's "Love in the Time of Money" is...          0
...                                                  ...        ...
49995  I thought this movie did a down right good job...          0
49996  Bad plot, bad dialogue, bad acting, idiotic di...          1
49997  I am a Catholic taught in parochial elementary...          1
49998  I'm going to have to disagree with the previou...          1
49999  No one expects the Star Trek movies to be high...          1

[50000 rows x 2 columns]

# 0-----> Negative
# 1-----> Positive

In [61]:
import re 
clean = re.compile('<.*?>')
re.sub(clean,'',df.iloc[2].review)

'I thought this was a wonderful way to spend time on a too hot summer weekend, sitting in the air conditioned theater and watching a light-hearted comedy. The plot is simplistic, but the dialogue is witty and the characters are likable (even the well bread suspected serial killer). While some may be disappointed when they realize this is not Match Point 2: Risk Addiction, I thought it was proof that Woody Allen is still fully in control of the style many of us have grown to love.This was the most I\'d laughed at one of Woody\'s comedies in years (dare I say a decade?). While I\'ve never been impressed with Scarlet Johanson, in this she managed to tone down her "sexy" image and jumped right into a average, but spirited young woman.This may not be the crown jewel of his career, but it was wittier than "Devil Wears Prada" and more interesting than "Superman" a great comedy to go see with friends.'

In [62]:
#function to clean the html tags
def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean,'',text)

In [63]:
df['review'] =df['review'].apply(clean_html)

In [64]:
df

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          0
1      A wonderful little production. The filming tec...          0
2      I thought this was a wonderful way to spend ti...          0
3      Basically there's a family where a little boy ...          1
4      Petter Mattei's "Love in the Time of Money" is...          0
...                                                  ...        ...
49995  I thought this movie did a down right good job...          0
49996  Bad plot, bad dialogue, bad acting, idiotic di...          1
49997  I am a Catholic taught in parochial elementary...          1
49998  I'm going to have to disagree with the previou...          1
49999  No one expects the Star Trek movies to be high...          1

[50000 rows x 2 columns]

In [65]:
# convert the review in lower case
def convert_lower(text):
    return text.lower()

In [66]:
df['review'] =df['review'].apply(convert_lower)

In [67]:
df

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          0
1      a wonderful little production. the filming tec...          0
2      i thought this was a wonderful way to spend ti...          0
3      basically there's a family where a little boy ...          1
4      petter mattei's "love in the time of money" is...          0
...                                                  ...        ...
49995  i thought this movie did a down right good job...          0
49996  bad plot, bad dialogue, bad acting, idiotic di...          1
49997  i am a catholic taught in parochial elementary...          1
49998  i'm going to have to disagree with the previou...          1
49999  no one expects the star trek movies to be high...          1

[50000 rows x 2 columns]

In [68]:
#funtion to remove special function
def remove_special(text):
    x = ''
    for i in text:
        if i.isalnum() or i.isspace():
            x = x + i
    return x

In [71]:
df['review']= df['review'].apply(remove_special)

In [72]:
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production the filming tech...
2        i thought this was a wonderful way to spend ti...
3        basically theres a family where a little boy j...
4        petter matteis love in the time of money is a ...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot bad dialogue bad acting idiotic direc...
49997    i am a catholic taught in parochial elementary...
49998    im going to have to disagree with the previous...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [78]:
# remove the stop words like is,are,the.....etc beacause we make the bow(bag of words) 
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\alokb\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [79]:
from nltk.corpus import stopwords

In [80]:
stopwords.words('english')

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [81]:
print(len(stopwords.words('english')))

198

In [ ]:
def remove_stopwords(text):
    x = []
    # Convert stopwords to a set for faster lookup
    stop_words = set(stopwords.words('english'))
    
    # Check if the input is a valid string
    if not isinstance(text, str):
        return []
    
    # Use a list comprehension for a more efficient and concise loop
    return [i for i in text.split() if i.lower() not in stop_words]

In [96]:
df['remove_stopwordss']= df['review'].apply(remove_stopwords)

In [98]:
df['remove_stopwordss']

0        [one, reviewers, mentioned, watching, 1, oz, e...
1        [wonderful, little, production, filming, techn...
2        [thought, wonderful, way, spend, time, hot, su...
3        [basically, theres, family, little, boy, jake,...
4        [petter, matteis, love, time, money, visually,...
                               ...
49995    [thought, movie, right, good, job, wasnt, crea...
49996    [bad, plot, bad, dialogue, bad, acting, idioti...
49997    [catholic, taught, parochial, elementary, scho...
49998    [im, going, disagree, previous, comment, side,...
49999    [one, expects, star, trek, movies, high, art, ...
Name: remove_stopwordss, Length: 50000, dtype: object

In [101]:
df['review'] = df['remove_stopwordss']

In [102]:
df['review']

0        [one, reviewers, mentioned, watching, 1, oz, e...
1        [wonderful, little, production, filming, techn...
2        [thought, wonderful, way, spend, time, hot, su...
3        [basically, theres, family, little, boy, jake,...
4        [petter, matteis, love, time, money, visually,...
                               ...
49995    [thought, movie, right, good, job, wasnt, crea...
49996    [bad, plot, bad, dialogue, bad, acting, idioti...
49997    [catholic, taught, parochial, elementary, scho...
49998    [im, going, disagree, previous, comment, side,...
49999    [one, expects, star, trek, movies, high, art, ...
Name: review, Length: 50000, dtype: object

In [149]:
# now we perform stemmein (loving --------> love, caring--------> care)
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')
ps=PorterStemmer()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\alokb\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [158]:
y=[]
def stemm_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [159]:
df['sem']= df['review'].apply(stemm_words)

KeyboardInterrupt:

In [152]:
df['sem']

0        [o, n, e,  , o, f,  , t, h, e,  , o, t, h, e, ...
1        [a,  , w, o, n, d, e, r, f, u, l,  , l, i, t, ...
2        [i,  , t, h, o, u, g, h, t,  , t, h, i, s,  , ...
3        [b, a, s, i, c, a, l, l, y,  , t, h, e, r, e, ...
4        [p, e, t, t, e, r,  , m, a, t, t, e, i, ', s, ...
                               ...
49995    [i,  , t, h, o, u, g, h, t,  , t, h, i, s,  , ...
49996    [b, a, d,  , p, l, o, t, ,,  , b, a, d,  , d, ...
49997    [i,  , a, m,  , a,  , c, a, t, h, o, l, i, c, ...
49998    [i, ', m,  , g, o, i, n, g,  , t, o,  , h, a, ...
49999    [n, o,  , o, n, e,  , e, x, p, e, c, t, s,  , ...
Name: sem, Length: 50000, dtype: object